target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Optionals ###
.bin/
*.bin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/atpress/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!clover.license

### VS Code ###
.vscode/

### Logs & Temp ###
*.log
*.tmp
*.bak
